@import "../config/variables";

@media (min-width: $screen-md-min) {
  $box-margin: $margin-box;
  .desktop-wrapper {
    display: flex;
    flex-wrap: wrap;

    > .box {
      width: calc(50% - #{$box-margin/2});

      &:nth-child(odd) {
        margin-right: $box-margin/2;
      }
      &:nth-child(even) {
        margin-left: $box-margin/2;
      }
    }
  }
}
