@import '../config/variables';

.accordion {

}

.accordion-item {
  position: relative;
}

.accordion-title {
  cursor: pointer;
}

.accordion-section {
  position: relative;
  overflow: hidden;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  z-index: 2;
  transition: all 300ms ease;
  max-height: 15000px;
}

.accordion-icon {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: .95rem;
  right: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 9px;
    transition: all 0.25s ease-in-out;
    background-color: $color-black;

    .box & {
      background-color: $color-box;
    }
  }

  &::before {
    transform: translate(-2px, 0) rotate(45deg);
  }
  &::after {
    transform: translate(2px, 0) rotate(-45deg);
  }
}

.accordion-check {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

.accordion-check:checked {

  & ~ .accordion-section {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
  }

  & ~ .accordion-icon::before {
    transform: translate(2px, 0) rotate(45deg);
  }

  & ~ .accordion-icon::after {
    transform: translate(-2px, 0) rotate(-45deg);
  }
}
