@import '../config/variables';

.alert {
  padding: 1rem;
  font-size: .9rem;
}

.alert--error {
  color: #a94442;
  background-color: #f2dede;
}
.alert--info {
  color: #31708f;
  background-color: #d9edf7;
}
