@import '../config/variables';

.link {
  color: $color-black-soft;
  border-bottom: 1px dotted transparent;

  &:hover {    
    border-bottom-color: $color-black;
  }

  &--visitable {
    &:visited {
      color: $color-link-visited;
    }
  }
}


.link--highlight {
  font-weight: 600;
}


