@import '../config/variables';

.product {
  margin-bottom: 1.1rem;
  box-sizing: border-box;
}

.product-name {
  display: block;
  width: 100%;
  font-size: .9rem;
  font-weight: 400;
}

.product-price {
  display: block;
  width: 100%;
  font-size: .8rem;
  font-weight: 800;
  color: #202020;
}

.product-label {
  margin-top: 8px;
  margin-bottom: 8px;
}

label span.product-price {
  margin-bottom:8px;
}