.u-text-center {
  text-align: center;
}
.u-text-right {
  text-align: right;
}

.u-text-smaller {
  font-size: smaller;
}

.u-text-semibold {
  font-weight: 600;
}
.u-text-bold {
  font-weight: 800;
}