@import '../config/variables';

html{
  font-size: 16px;
  @media (min-width: $screen-md-min) {
    font-size: 120%;
  }
}

body {
  background: $color-content;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  padding-top: $header-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-titles;
  font-weight: 200;
}

h1 {
  font-size: 1.6rem;
  color: $color-title;
  font-weight: 400;
  margin-top: .5em;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.2rem;
  margin-top: .2em;
  margin-bottom: .4em;
}

h3 {
  font-size: 1.1rem;
  margin-top: .15em;
  margin-bottom: .3em;
}

a {
  color: $color-link;

  &:hover {
    border-bottom: 1px dotted $color-link-hover;
    color: $color-link-hover;
  }
}

textarea,
select,
input[type=date],
input[type=number],
input[type=email],
input[type=password],
input[type=search],
input[type=text] {
  width: 100%;
  padding: 5px 15px;
  color: $color-text;
  border: 2px solid $color-border;
  border-radius: $border-radius;
  background: $color-white;

  &:focus {
    outline: none;
    border-color: darken($color-border, 10%);
    box-shadow: inset 0 1px 1px rgba(14, 14, 14, 0.07), 0 0 8px rgba(51, 51, 51, 0.6);;
  }
}

textarea {
  resize: vertical;
}

label {
  display: inline-block;
  font-weight: 400;
  font-size: 1rem;
}

